{% load static %}{% load wagtailuserbar %}{% load wagtailcore_tags %}{% load i18n %}<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="fr">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>{{ request.site.site_name }} — {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'docs/images/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static 'docs/fonts/font-awesome-4.3.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/stroke.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/prettyPhoto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'docs/js/syntax-highlighter/styles/shCore.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/js/syntax-highlighter/styles/shThemeRDark.css' %}" media="all">

    <!-- CUSTOM -->
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/custom.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
{% wagtailuserbar %}

    <div id="wrapper">

        <div class="container">

            <section id="top" class="section docs-heading">

                <div class="row">
                    <div class="col-md-12">
                        <div class="big-title text-center">
                            <h1><a href="{% pageurl request.site.root_page %}">{{ self.title }}</a></h1>
                            <h2>{{ request.site.site_name }}</h2>
                        </div>
                        <!-- end title -->
                    </div>
                    <!-- end 12 -->
                </div>
                <!-- end row -->

                <hr>

            </section>
            <!-- end section -->

            <div class="row">

                <div class="col-md-3">
                    <nav class="docs-sidebar" data-spy="affix" data-offset-top="300" data-offset-bottom="200" role="navigation">
                        <ul class="nav">
                            {% block nav %}
                            {% endblock %}
                            <li><form method="get" action="{% url 'search' %}">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="query" placeholder="{% translate 'Search' %}" />
                                    <span class="input-group-btn"><button class="btn btn-default"><span class="fa fa-search"></span></button></span>
                                </div>
                            </form></li>
                            {% if page %}
                            {% for translation in page.get_translations.live %}
                                {% get_language_info for translation.locale.language_code as lang %}
                                <li><a href="{% pageurl translation %}" rel="alternate" hreflang="{{ translation.locale.language_code }}" title="{{ lang.name }}">{{ translation.locale.language_code }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </nav >
                </div>
                <div class="col-md-9">
                    {% block content %}
                    {% endblock %}
                    <!-- end section -->
                </div>
                <!-- // end .col -->

            </div>
            <!-- // end .row -->

        </div>
        <!-- // end container -->

    </div>
    <!-- end wrapper -->

    <script src="{% static 'docs/js/jquery.min.js' %}"></script>
    <script src="{% static 'docs/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'docs/js/retina.js' %}"></script>
    <script src="{% static 'docs/js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'docs/js/wow.js' %}"></script>
    <script src="{% static 'docs/js/jquery.prettyPhoto.js' %}"></script>

    <!-- CUSTOM PLUGINS -->
    <script src="{% static 'docs/js/custom.js' %}"></script>
    <script src="{% static 'docs/js/main.js' %}"></script>

    <script src="{% static 'docs/js/syntax-highlighter/scripts/shCore.js' %}"></script>
    <script src="{% static 'docs/js/syntax-highlighter/scripts/shBrushXml.js' %}"></script>
    <script src="{% static 'docs/js/syntax-highlighter/scripts/shBrushCss.js' %}"></script>
    <script src="{% static 'docs/js/syntax-highlighter/scripts/shBrushJScript.js' %}"></script>
    <script src="{% static 'docs/js/syntax-highlighter/scripts/shBrushPython.js' %}"></script>
    <script src="{% static 'docs/js/syntax-highlighter/scripts/shBrushBash.js' %}"></script>

</body>

</html>

