{% extends 'docs/base.html' %}
{% load wagtailcore_tags wagtailimages_tags home_tags %}
{% load i18n %}

{% block body_class %}template-docpage{% endblock %}

{% block nav %}
{% for item in self.body %}
    {% if item.block_type == 'section' %}
        <li><a href="#{{ item.value.title | slugify }}">{{ item.value.title }}</a>
        <ul class="nav">
        {% for sub_item in item.value.body %}
            {% if sub_item.block_type == 'sub_section' %}
                <li><a href="#{{ sub_item.value.title | slugify }}">{{ sub_item.value.title }}</a>
            {% endif %}
        {% endfor %}
        </ul>
        </li>
    {% endif %}
{% endfor %}
{% if self.get_subpages %}
    <li><a href="#subpages">{% translate 'Sub-pages' %}</a>
{% endif %}
{% endblock %}

{% block content %}
<section>
    <div class="row">
        <div class="col-md-12">
            {% breadcrumbs_complete %}
        </div>
    </div>
</section>
{{ self.body }}
{% if self.get_subpages %}
<section>
    <div class="row">
        <div class="col-md-12">
            <h2 class="dark-text">{% translate 'Sub-pages' %}
                <a href="#top">#{% translate 'Top' %}</a>
                <hr />
            </h2>
        </div>
    </div>
    <div class="row">
        {% for item in self.get_subpages %}
        <div class="col-md-4">
            <h4 id="subpages"><a href="{% pageurl item %}">{{ item.title }}</a></h4>
            <p>{{ item.search_description }}</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}
