///
/// Hyperspace by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Header */

	#header {
		@include vendor('display', 'flex');
		background-color: _palette(accent1);
		cursor: default;
		padding: 1.75em;
        display: flex;

		.title {
			border: 0;
			color: _palette(fg-bold);
			font-size: 1.25em;
		}

        .baseline {
            font-size: .8em;
        }

		> nav {
			@include vendor('flex', '1');
			text-align: right;
            -moz-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            text-align: right;
            display: flex;
            /* order: 3; */
            align-items: center;
            justify-content: end;

            > .flex * {
                margin-left: 5em;
            }

			> ul {
				margin: 0;
				padding: 0;

				> li {
					display: inline-block;
					margin-left: 1.75em;
					padding: 0;
					vertical-align: middle;

					&:first-child {
						margin-left: 0;
					}

					a {
						border: 0;
						color: _palette(fg-light);
						display: inline-block;
						font-size: 0.6em;
						font-weight: _font(weight-bold);
						letter-spacing: _font(kerning-alt);
						text-transform: uppercase;

						&:hover {
							color: _palette(fg);
						}

						&.active {
							color: _palette(fg-bold);
						}
					}
				}
			}
		}

		@include breakpoint(small) {
			padding: 1em 2em;
		}

		@include breakpoint(xsmall) {
			display: block;
			padding: 0 2em;
			text-align: left;

			.title {
				font-size: 1.25em;
				padding: 1em 0;
			}

			> nav {
				border-top: solid 1px _palette(border);
				text-align: inherit;

				> ul {
					> li {
						margin-left: 1.5em;

						a {
							height: 6em;
							line-height: 6em;
						}
					}
				}
			}
		}

	}
