{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block body_class %}template-featurepage{% endblock %}

{% block content %}
    <section id="main" class="wrapper">
        <div class="inner">
            {% breadcrumbs %}
            <h1>{{ page.title }}</h1>
            {{ page.thank_you_text }}
        </div>
    </section>
{% endblock %}
/html>
