{% extends 'base.html' %}

{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block body_class %}template-standardpage{% endblock %}

{% block content %}
    <header class="major">
        <h2>{{ page.title }}</h2>
    </header>
    <section class="post">
        {% if page.file %}
        <p>{% translate 'Alternative download: ' %} <a href="{{ page.file.url }}">{{ page.file }}</a></p>
        {% endif %}
        {{ page.body }}
    </section>
{% endblock %}

