{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <section id="main" class="wrapper">
        <div class="inner">
            <h2 class="major">{% translate 'Search results: ' %}{% if search_query %}<q>{{ search_query }}</q>{% endif %}</h2>
            <form action={% url 'search' %} method="get">
                <div class="row">
                    <div class="10u 12u$(xsmall)">
                    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}/>
                    </div>
                    <div class="1u 12u$(xsmall)">
                        <input type="submit" class="button" value="{% translate 'Search' %}" />
                    </div>
                </div>
            </form>
            {% for result in search_results %}
                <h3><a href="{% pageurl result %}">{{ result.title }}</a></h3>
                {% if result.search_description %}
                    <p>{{ result.search_description }}</p>
                {% elif result.specific.intro %}
                {{ result.specific.intro | richtext }}
                {% endif %}
                <hr class="clear"/>
            {% empty %}
                {% if search_query %}
                    <p>{% translate 'No results for this search query.' %}</p>
                {% else %}
                    <p>{% translate 'Please enter a search query.' %}</p>
                {% endif %}
            {% endfor %}
            {% if search_results.paginator.num_pages > 1 %}
            <div class="pagination">
                <ul class="actions">
                {% for page in search_results.paginator.page_range %}
                    {% if page == search_results.number %}
                        <li><a class="button special">{{ page }}</a></li>
                    {% else %}
                        <li><a class="button" href="?query={{ search_query | urlencode }}&amp;page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
