/**
 * We support IE8+ only, so we could use the border-box model
 * see http://paulirish.com/2012/box-sizing-border-box-ftw/
 */

/**
 * Duchesse purple #492e74
 * Duchesse yellow #efe419
 */


* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
/* pictures */
img {
    height: auto;
    vertical-align: middle;
}
code {
    font-size: 1.2em;
}

body {
    padding: 0;
    margin: auto;
    font-size: 1em;
    color: #111;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    line-height: 1.4;
    background: #fafafa url(../img/duchesse_mini.svg) 95% bottom no-repeat;
}
.inner {
    max-width: 50em;
    margin: auto;
    padding: 0 1em;
}

a,
a:link,
a:visited {
    color: #111;
}
a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    background-color: #efe419;
}

header {
    text-align: center;
    margin-bottom: 2em;
}
header img {
    width: 200px;
}
header h1 {
    font-size: 2em;
    margin: 0;
}

nav#mainmenu {
    margin-bottom: 2em;
    border-bottom: 2em solid #efe419;
    text-align: left;
}

nav#mainmenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-content: space-between;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

nav#mainmenu li {
    list-style: none;
    display: inline;
}
nav#mainmenu li a,
nav#mainmenu li a:visited {
    font-size: 1.2em;
    display: inline-block;
    padding: .3em .5em;
    border-width: 2px;
    text-decoration: none;
}
nav#mainmenu li a:hover,
nav#mainmenu li a:focus,
nav#mainmenu li a.selected {
    background-color: #efe419;
}

.main p,
.main li,
.main dd {
    text-align: justify;
}

.service_title {
    clear: both;
}
.service_desc {
    width: 64%;
    float: left;
    margin-top: 0px;
    margin-bottom: 3em;
}
.service_desc dt {
    font-weight: bold;
}
.service_screen {
    display: block;
    float: right;
    border: 1px solid #888;
    padding: .3em;
}

.futur_service {
    color: #888;
    clear: both;
    float: none;
}

h3.futur_service {
    border-bottom: 1px dotted #888;
    cursor: help;
    float: left;
}

time {
    color: #888888;
    font-size: .9em;
}

blockquote {
    background-color: #efefef;
    margin: 0px;
    padding: .5em 1em;
    border-radius: 10px;
    font-style: italic;
}
blockquote p.source {
    font-style: normal;
    color: #666666;
    font-size: small;
}
blockquote p.source time {
    color: #666666;
}

.footnoteref {
    color: #34003e;
}
.footnoteref a,
.footnoteref a:visited {

    text-decoration: none;
    border-bottom: 1px dotted #888;
    cursor: help;
}
.footnoteref a:hover {
    background-color: transparent;
    border-bottom: 1px solid #492e74;
}

.footnotes {
    font-size: .8em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid #888;
}

footer {
    clear: both;
    padding: 2em 0;
    margin-top: 2em;
    border-top: 2em solid #efe419;
}
footer h2 {
    margin-top: 0;
}
footer dt {
    float: left;
    min-width: 6em;
    padding-right: 1em;
    text-align: right;
}
footer dd {}
footer dd a {
    color: #111;
}

.spacer {
    padding-bottom: 2em;
    clear: both;
}


@media (min-width: 480px) {
    body {
        background-position: 75% bottom;
    }
}

@media (max-width: 640px) {
    .service_title {
        clear: both;
    }
    .service_desc {
        width: 100%;
        float: none;
    }
    .service_screen {
        display: block;
        float: none;
        border: 1px solid #888;
        padding: .3em;
        width: 210px;
        margin: 0px auto;
        text-align: center;
    }

    nav#mainmenu ul {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    nav#mainmenu {
        border-bottom-width: 1em;
    }
    nav#mainmenu li a {
        width: 100%;
    }
}


#converse-embedded-chat,
#conversejs {
    width: 98%;
    width: 98vw;
}
