<div class="row link-row">
    <a href="{{ value.url }}"></a>
    <div class="col-md-1"><span class="fa fa-file link-icon"></span></div>
    <div class="col-md-11">
        <h4>{{ value.title }}</h4>
        <p>{{ value.intro }}</p>
    </div>
</div>
