{% load wagtailcore_tags %}
{% load i18n %}
<section id="{{ value.title | slugify }}">
    <div class="row">
        <div class="col-md-12">
            <h2 class="dark-text">{{ value.title }}
                <a href="#top">#{% translate 'Top' %}</a>
            <hr />
            </h2>
        </div>
    </div>
    {{ value.body }}
</section>
