{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
    <section id="main" class="wrapper">
        <div class="inner">
            <h2>{% translate 'Page not found' %}</h2>

            <h3>{% translate 'We’re sorry, but the page you’re looking for doesn’t exist. However, you can search for your page here.' %}</h3>

            <form action={% url 'search' %} method="get">
                <div class="row">
                    <div class="10u 12u$(xsmall)">
                    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}/>
                    </div>
                    <div class="1u 12u$(xsmall)">
                        <input type="submit" class="button" value="{% translate 'Search' %}" />
                    </div>
                </div>
            </form>
            <div class="row uniform">
                <div class="2u"></div>
                <div class="8u">
                    <span class="image fit">
                        <img src="{% static 'images/404.jpg' %}" alt="404" />
                    </span>
                    <p><em>{% translate 'Image by <a href="https://http.cat/">HTTP.cat</a>' %}</em></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
